<footer class="site-footer">
  <div class="single-column">
    <div style="display: flex; justify-content: space-between;">
      <ul>
        <li><a href="https://www.loomio.org/?frontpage">Loomio.org</a></li>
        <li><a href="https://help.loomio.org">Loomio Help</a></li>
        <li><a href="https://blog.loomio.org">Loomio Blog</a></li>
        <li><a href="https://www.loomio.org/community">Loomio Community</a></li>
      </ul>

      <ul>
        <li><a href="https://help.loomio.org/en/newsletter/">Newsletter</a></li>
        <li><a href="https://github.com/loomio/loomio">Github</a></li>
        <li><a href="https://twitter.com/Loomio">Twitter</a></li>
        <li><a href="https://www.facebook.com/Loomio">Facebook</a></li>
      </ul>

      <ul>
        <li><a href="https://www.loomio.org/privacy">Privacy Policy</a></li>
        <li><a href="https://www.loomio.org/terms_of_service">Terms of Service</a></li>
        <li><a href="https://www.loomio.org/gdpr">GDPR compliance</a></li>
      </ul>
    </div>
    <div style="padding-top: 10px; display: flex; justify-content: space-between;">
      <div>Copyright Loomio Cooperative &#169; 2018</div>
      {{ if .Site.Params.canEdit }}
        <div><a href="https://github.com/{{.Site.Params.repoName}}/edit/master/content/{{.File.Path}}">Edit this page</a> or <a href="/en/dev_manual/editing_help/">learn how</a>.</div>
      {{ end }}
    </div>
  </div>
</footer>
