<div class="multi-column">
  <div class="multi-column__side multi-column__side--left">
  </div>
  <header class="multi-column__main site-header">
    <div style="display: flex; align-items: center">
      <img class="site-header__logo" style="margin-right: 1em" src="{{ .Site.BaseURL }}/icon256.png">
      <a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}" class="color-primary h3">
        {{ .Site.Title }}
      </a>
    </div>
    <nav class="site-nav">
      <form style="display: inline-block; margin-right: 1em; " method="get" action="https://duckduckgo.com/">
      <input style="border: 1px solid #CCC; border-radius: 5px; padding: 6px 8px; padding-right: 12px; color: rgba(0,0,0,0.8); font-size: 14px; margin-left: 1em" size="15" name="q" placeholder="🔎 Search">
      <input type="hidden" name="sites" value="{{ .Site.BaseURL }}">
      </form>
      {{ if eq .Site.Title "Loomio Help"}}
        <a href="https://blog.loomio.org">Blog</a>
        <a href="https://www.loomio.org?frontpage">App</a>
      {{ else }}
        <a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/categories/">{{ i18n "categories" }}</a>
        <a href="https://help.loomio.org">Help</a>
        <a href="https://www.loomio.org?frontpage">App</a>
      {{ end }}
      <!-- {{- if .Site.IsMultiLingual -}}
      {{- range $lang := .Site.Languages -}}
      {{- if ne $.Site.Language $lang -}}
      <a href="/{{ $lang }}">{{ $lang }}</a>
      {{- end -}}
      {{- end -}}
      {{- end -}} -->
    </nav>
  </header>
  <div class="multi-column__side multi-column__side--right">
  </div>
</div>
