<header class="site-header single-column">
  <div style="display: flex; align-items: center">
    <img class="site-header__logo" style="margin-right: 1em" src="{{ .Site.BaseURL }}/icon256.png">
    <a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}" class="color-primary h3">
      {{ .Site.Title }}
    </a>
  </div>
  <nav class="site-nav">
    {{ if eq .Site.Title "Loomio Help"}}
      <a href="https://blog.loomio.org">Blog</a>
      <a href="https://www.loomio.org?frontpage">App</a>
    {{ else }}
      <a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/categories/">{{ i18n "categories" }}</a>
      <a href="https://help.loomio.org">Help</a>
      <a href="https://www.loomio.org?frontpage">App</a>
    {{ end }}
    <!-- {{- if .Site.IsMultiLingual -}}
    {{- range $lang := .Site.Languages -}}
    {{- if ne $.Site.Language $lang -}}
    <a href="/{{ $lang }}">{{ $lang }}</a>
    {{- end -}}
    {{- end -}}
    {{- end -}} -->
  </nav>
</header>
