{{ $currentPage := . }}
<nav class="sidenav">
<ul>
{{ range .Site.Menus.main }}
<li>
  <a href="{{ .URL }}">
    {{ .Pre }}
    <span>{{ .Name }}</span>
  </a>
  {{ if (and .HasChildren (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) ))}}
  <ul class="sub-menu">
    {{ range .Children }}
    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
      <a href="{{ .URL }}">{{ .Name }}</a>
      {{ if (and .HasChildren (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .))) }}
      <ul class="sub-menu">
        {{ range .Children }}
        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    {{ end }}
    </li>
    {{ end }}
  </ul>
  {{ end }}
</li>
{{ end }}
</ul>
</nav>
