* {
  box-sizing: border-box;
}

html {
  line-height: 1.2;
  font-size: 100%;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  color: $color-black;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

td img {
  max-width: 100px;
  margin-right: 30px;
}

a {
  color: $color-secondary;
  text-decoration: none;
}

h1,   h2,  h3,  h4,  h5,  h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
  line-height: 1.4;
  margin-top: .5em;
  margin-bottom: .5em;
}

h1, .h1 { font-size: 2.5rem }
h2, .h2 { font-size: 1.5rem }
h3, .h3 { font-size: 1.25rem }
h4, .h4 { font-size: 1rem }
h5, .h5 { font-size: .875rem }
h6, .h6 { font-size: .75rem }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

ol, ul {
  padding-left: 1em;
}

code,
pre,
samp {
  font-family: $font-family-mono;
}

code, samp {
  font-size: 87.5%;
  padding: .125em;
}

pre {
  font-size: 87.5%;
  overflow: scroll;
}

blockquote {
  font-style: italic;
  margin-left: 0;
  border-left: 2px solid $color-primary;
  padding-left: 2em;
  clear: left;
}

hr {
  margin: 2.5em 0;
  border-bottom: 2px dotted $color-primary;
}

p {
  line-height: 1.9;
}

li {
  line-height: 1.9;
}

figure img {
  display: block;
  margin: 0 auto;
}

figcaption {
  margin: .5em 0;
  text-align: center;
  color: $color-grey-darker;
  font-style: italic;
}
