.multi-column, .single-column {
  display: flex;
  margin: 0 auto;
  max-width: 88rem;
}

.iframe {
  width: 100%;
  min-height: 360px;
  height: auto;
}

.multi-column__main {
  max-width: 40rem;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.iframe-container iframe {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.multi-column__side {
  min-width: 16rem;
  max-width: 16rem;
}

.multi-column__side--left {
  display: none;
  padding-left: 2em;
}

.multi-column__side--right {
  display: none;
}

// 64
// 16-40 = 8
@media only screen and (min-width: 64rem) {
  .multi-column, .single-column {
    margin: 0 auto;
  }
  .multi-column__side--left {
    display: block;
  }
  .iframe {
    width: 640px;
  }
}

@media only screen and (min-width: 88rem) {
  .multi-column__side--right {
    display: block;
  }
}
