.sidenav {
  // font-size: 0.85rem;
  font-size: .9em;
  a { color: $color-black; }
  ul {
    padding-top: 0.25em ;
    padding-bottom: 0.25em ;
    margin-top: 0.25em ;
    margin-bottom: 0.25em ;
    list-style-type: none;
    ul {
      // border-left: 2px solid $color-primary;
    }
  }
  ul.active {
    border-left: 2px solid $color-primary;
  }
}

.toc {
  li {
    list-style-type: none;
  }
  // li {
  //   margin: .5em 0;
  // }
}
