$color-secondary: #00BCD4;
$color-primary: #FFA726;

$color-black: rgba(0,0,0, 0.84);
$color-grey-darker: rgba(0,0,0, 0.60);
$color-grey-dark: rgba(0,0,0, 0.50);
$color-grey: rgba(0,0,0, 0.30);
$color-grey-light: rgba(0,0,0, 0.20);
$color-grey-lighter: rgba(0,0,0, 0.10);
$color-grey-lightest: rgba(0,0,0, 0.05);
$color-white: #ffffff;

$font-family-sans: Roboto, 'Helvetica Neue', sans-serif;
$font-family-serif: 'Roboto Slab', serif;
$font-family-mono: 'Roboto Mono', Menlo, Monaco, Consolas, monospace;

.color-secondary { color: $color-secondary; }
.color-primary { color: $color-primary; }
.color-black {color: $color-black; }
.color-grey-darker {color: $color-grey-darker; }
.color-grey-dark {color: $color-grey-dark; }
.color-grey {color: $color-grey; }
